path_tmp: .

server:
  - attributes:
      mysqldump:
      rsync:
  - src:
        ssh_host: localhost
        ssh_user:
        ssh_path: ./
        db_host:
        db_port: 3306
        db_user:
        db_pw:
        db_dbname:
    dest:
        db_host: localhost
        db_port: 3306
        db_user:
        db_pw:
        db_dbname:
        path_data:
