path_tmp: 'tmp'

src:
  ssh_host:
  ssh_user:
  ssh_path:

dest:
  path: 'data'

attributes:
  rsync:
    - "--exclude-from=\"./exclude-from.txt\""

databases:
  - attributes:
      mysqldump:
    src:
        db_host:
        db_user:
        db_pw:
        db_dbname:
        db_port
    dest:
        db_host:
        db_user:
        db_pw:
        db_dbname:
        db_port:
