debug: false

path_tmp: './tmp'

path_backup: ''

src:
  ssh_host: ''
  ssh_port: 22
  ssh_user: ''
  ssh_identity: ''
  ssh_path: ''
  ssh_force_transfer: true

dest:
  path: './data'

attributes:
  rsync: []
  tar: []

databases:
  - attributes:
      mysqldump: []
    src:
        db_host: 'localhost'
        db_user: ''
        db_pw: ''
        db_dbname: ''
        db_port: 3306
    dest:
        db_host: 'localhost'
        db_user: ''
        db_pw: ''
        db_dbname: ''
        db_port: 3306
        additional_dump: []
